body {
    font-family: 'Arial', sans-serif;
    margin: 50px;
    padding: 0;
    background-color: #f4f4f4;
}

p#cReport {
    color:#3498db;
    border: dashed blue;
    padding: 1em;
    color:#8b1a1a;
    font-weight: bold;
}

.highlight {
            background-color: yellow;
        }

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}
label {
    padding: 10px;
    display: block;
}
label[for="inputC" ]
{
    color:brown;
}
label[for="kword" ]
{
    color:rgb(52, 42, 165);
    display:inline-block;
}
select {
    padding: 8px;
    margin: 5px 10px;
    border: 1px solid #ccc;
}
input {
    padding: 10px;
}
button {
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    margin: 15px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #2980b9;
}

button#underKey {
    background-color:brown;
}
button#underKey:hover {
    background-color:#55db34;
}

button[class="fastword"] {
    background-color:gray;
    padding: 10px;
    display:inline-block
}

button#clean {
    background-color: #8b1a1a;
    border:solid;
    display:inline-flexbox;
    float:right;
}

button#exlocal {
    background-color: #1a8b4f;
    border:solid;

}

button#googleOut {
    background-color: #1a8b85;
    border:solid;
    display:inline-flexbox;
    float:right;
}

button.dimmed {
  background-color: darkgray; /* Dimmed background color */
  color: #ccc; /* Lighter text color for dimmed state */
  cursor: default; /* Change cursor to indicate it's no longer fully active */
  pointer-events: none; /* Optional: prevent further clicks on the dimmed button */
}